* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.weather-container {
    width: 420px;
    padding: 30px;

    background: white;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;

    outline: none;
}

.search-box button {
    padding: 12px 18px;

    border: none;

    border-radius: 8px;

    background: #007bff;
    color: white;

    cursor: pointer;

    font-size: 16px;
}

.search-box button:hover {
    background: #0056b3;
}

#loading {
    margin-top: 15px;
    color: #555;
}

#error {
    margin-top: 15px;
    color: red;
}

.weather-info {
    margin-top: 25px;
}

#cityName {
    font-size: 28px;
    margin-bottom: 10px;
}

#weatherIcon {
    font-size: 70px;
    margin: 10px;
}

#temperature {
    font-size: 55px;
    margin: 10px;
}

#condition {
    font-size: 20px;
    margin-bottom: 25px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.detail {
    flex: 1;

    padding: 15px 5px;

    background: #f2f2f2;

    border-radius: 10px;
}

.detail span {
    font-size: 25px;
}

.detail p {
    margin: 5px 0;
    color: #555;
}

.detail strong {
    font-size: 16px;
}


/* Mobile */

@media (max-width: 500px) {

    .weather-container {
        width: 90%;
        padding: 20px;
    }

    .weather-details {
        flex-direction: column;
    }
}